{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "extends": ["plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "eol-last": "error"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
